/* --------Setting Variables----------- */
:root {
  --page-1-color: #b9c0c8;
  --page-2-color: #121117;
  --page-3-color: #e71930;
  --page-4-color: #47a8ac;
  --page-5-color: #f96c21;
  --page-6-color: #d5d6da;
  --primary-color: #e71930;
  --secondary-color: #f96c21;
  --animate-speed: 1.5s;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden;
  color: #121117;
}

/* -------Page Colors------- */
#about {
  background-color: var(--page-2-color);
}

.bags {
  background-color: var(--page-3-color);
}

.bags-flip {
  background-color: var(--page-4-color);
}

#featured {
  background-color: var(--page-5-color);
}

#contact {
  background-color: var(--page-6-color);
}

/* ------All Pages Styles------ */
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

/* ------Navbar Section------ */
.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: var(--page-1-color);
  z-index: 999;
}

.mainNav .left-nav,
.mainNav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding: 0.5em;
}

.mainNav .left-nav li,
.mainNav .right-nav li {
  margin: 0em 1em;
}

.mainNav .brand-logo {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Vesper Libre", serif;
}

.mainNav .brand-logo span {
  color: var(--primary-color);
  margin: 0.01em;
}

.left-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right-nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* ------The Header/Hero Section------ */
#hero {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/trinh-minh-2.jpg") top center/cover no-repeat;
}

#hero .main-title {
  font-family: "Vesper Libre", serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  max-width: 40%;
  text-align: center;
  padding: 0.5em 0em;
  margin: 5em 0.1em 0em 0em;
}

#hero .hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 10%;
  margin-top: 0.5em;
}

#hero .hero-cta a {
  font-size: 1.2rem;
  margin: 0.1em 0.5em;
  padding: 0.5em 1em;
  width: 20%;
  text-align: center;
}

#hero .hero-cta a:hover {
  background-color: var(--secondary-color);
}

.primary-link,
.secondary-link {
  border: none;
  border-radius: 50px;
}

.primary-link {
  background-color: var(--primary-color);
}

.secondary-link {
  border: 1px solid var(--secondary-color);
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 25, 48, 0.1);
}

#hero * {
  z-index: 10;
}

/* ------Hero Section Animation------ */
#hero .main-title {
  -webkit-transform: translateX(-1200px);
          transform: translateX(-1200px);
  -webkit-animation: heading var(--animate-speed) forwards ease-in;
          animation: heading var(--animate-speed) forwards ease-in;
}

#hero .hero-cta {
  visibility: hidden;
  -webkit-animation: hero-cta var(--animate-speed) forwards ease-in 2s;
          animation: hero-cta var(--animate-speed) forwards ease-in 2s;
}

/* ------Keyframes------ */
@-webkit-keyframes heading {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes heading {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hero-cta {
  to {
    visibility: visible;
  }
}

@keyframes hero-cta {
  to {
    visibility: visible;
  }
}

/* ------The About Section------ */
#about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#about .section-head {
  margin-bottom: 0em;
}

#about p {
  text-align: center;
  width: 60%;
  margin-top: 1em;
  font-size: 1.2rem;
}

.section-head + hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 150px;
  margin-top: 0.1em;
  margin-bottom: 2em;
}

.section-head + hr:after {
  background: var(--page-2-color);
  content: url(../images/bag-heart.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/* ------The Product Section------ */
.bags {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.bags .product-section-head {
  margin-bottom: 0em;
  margin-top: 2.5em;
}

.bags img {
  width: 100%;
  height: 100%;
}

.product-section-head + hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 150px;
  margin-top: 0.1em;
  margin-bottom: 3em;
}

.product-section-head + hr:after {
  background: var(--page-3-color);
  content: url(../images/bag-heart.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  margin: 1em 0em;
}

.row svg {
  position: absolute;
  top: 80%;
  right: 100%;
  width: 30px;
  height: 80px;
  fill: var(--page-6-color);
}

.row .product-content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  margin-right: 2em;
}

.row .product-content .product-name {
  font-family: "Vesper Libre", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0.2em;
}

.row .product-content .product-description {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1em 0.5em;
  padding: 0.2em;
}

.row .product-content .more-info {
  text-transform: uppercase;
  font-size: 1.2em;
  width: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #121117;
  margin: 2em 0.5em;
  padding: 0.5em;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.row .product-content .more-info:hover {
  background-color: var(--secondary-color);
}

.row .product-image {
  width: 40%;
}

/* ------Product Section Arrow SVG Animation------ */
.row svg {
  -webkit-animation: bounce var(--animate-speed) infinite ease-in;
          animation: bounce var(--animate-speed) infinite ease-in;
}

/* ------Keyframes------ */
@-webkit-keyframes bounce {
  to {
    top: 90%;
  }
}
@keyframes bounce {
  to {
    top: 90%;
  }
}

.bags-flip {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bags-flip img {
  width: 100%;
  height: 100%;
}

.row-flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
}

.row-flip .product-content-flip {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-left: 2em;
}

.row-flip .product-content-flip .product-name-flip {
  font-family: "Vesper Libre", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0.2em;
}

.row-flip .product-content-flip .product-description-flip {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1em 0.5em;
  padding: 0.2em;
}

.row-flip .product-content-flip .more-info-flip {
  text-transform: uppercase;
  font-size: 1.2em;
  width: 30%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #121117;
  color: var(--page-6-color);
  margin: 2em 0.5em;
  padding: 0.5em;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.row-flip .product-content-flip .more-info-flip:hover {
  background-color: var(--secondary-color);
  color: var(--page-2-color);
}

.row-flip .product-image-flip {
  width: 40%;
}

.row-flip svg {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 80%;
  left: 100%;
  width: 30px;
  height: 80px;
  fill: var(--page-6-color);
}

/* ------Product Flipped Section Arrow SVG Animation------ */
.row-flip svg {
  -webkit-animation: bounce-flip var(--animate-speed) infinite ease-in;
          animation: bounce-flip var(--animate-speed) infinite ease-in;
}

/* ------Keyframes------ */
@-webkit-keyframes bounce-flip {
  to {
    bottom: 90%;
  }
}
@keyframes bounce-flip {
  to {
    bottom: 90%;
  }
}

/*-------The Featured Section-----------*/
#featured {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#featured .section-head {
  margin-bottom: 0em;
  margin-top: 2em;
  padding: 0.2em;
  text-align: center;
  width: 50%;
}

.row-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  padding: 1em 5em;
}

.row-featured .featured-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-featured .featured-product .featured-image {
  width: 100%;
  height: 50%;
  margin-top: 0.2em;
}

.featured-product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-product-content .product-name {
  font-family: "Vesper Libre", serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.featured-product-content .more-info {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid var(--page-2-color);
  width: 50%;
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 0.2em;
  padding: 0.5em 1em;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.featured-product-content .more-info:hover {
  background-color: var(--page-2-color);
  color: #fff;
  border: none;
}

#featured img {
  width: 100%;
  height: 100%;
}

/*-------The Contact Section-----------*/
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#contact .column-1,
#contact .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#contact .column-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .column-1 h3 {
  font-family: "Vesper Libre", serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1em;
  margin: 0.5em 2.5em;
}

.chat-svg svg {
  width: 100%;
  height: 150%;
  margin: 0.5em 1em 2em 1em;
  fill: var(--secondary-color);
}

#contact .column-2 {
  height: 80%;
  padding: 2em;
  margin: 1.5em 1em;
  /*-------The Form Footer(Social Media Links-----------*/
}

#contact .column-2 p {
  font-family: "Vesper Libre", serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 1.8em 0em 1em 0em;
}

#contact .column-2 form {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#contact .column-2 form label {
  font-size: 1rem;
}

#contact .column-2 form input,
#contact .column-2 form textarea {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px var(--page-1-color);
          box-shadow: 5px 5px 10px var(--page-1-color);
}

#contact .column-2 form input {
  height: 15%;
}

#contact .column-2 form textarea {
  height: 50%;
}

#contact .column-2 textarea::-webkit-resizer {
  display: none;
}

#contact .column-2 .form-footer {
  width: 70%;
}

#contact .column-2 .form-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .column-2 .form-footer ul li {
  padding: 0.2em;
  margin: 2.5em 0em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

#contact .column-2 .form-footer ul .form-footer-link-1 {
  color: #bc2a8d;
}

#contact .column-2 .form-footer ul .form-footer-link-2 {
  color: #3b5998;
}

#contact .column-2 .form-footer ul .form-footer-link-3 {
  color: #00acee;
}

.column-2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-2 form input {
  margin: 0.3em 0em 1em 0em;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 70%;
}

.form-btn {
  width: 10%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

.form-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 50px;
  padding: 0.2em;
  margin-top: 0.8em;
  width: 20%;
  -webkit-box-shadow: 5px 5px 10px var(--page-1-color);
          box-shadow: 5px 5px 10px var(--page-1-color);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--page-5-color);
  color: #fff;
}
/*# sourceMappingURL=main.css.map */