/* --------Factory Reset----------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
}

img {
  cursor: pointer;
  -webkit-transition: 200ms all ease-in;
  transition: 200ms all ease-in;
}

img:hover {
  -webkit-transform: perspective(9cm) skewX(-5deg) skewY(5deg);
          transform: perspective(9cm) skewX(-5deg) skewY(5deg);
}

/* --------Setting Variables----------- */
:root {
  --page-1-color: #b9c0c8;
  --page-2-color: #121117;
  --page-3-color: #e71930;
  --page-4-color: #47a8ac;
  --page-5-color: #f96c21;
  --page-6-color: #d5d6da;
  --primary-color: #e71930;
  --secondary-color: #f96c21;
  --nav-bg-light: #cdd2d8;
  --animate-speed: 1.5s;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: #121117;
}

/* -------Page Colors------- */
#about {
  background-color: var(--page-2-color);
}

.bags {
  background-color: var(--page-3-color);
}

.bags-flip {
  background-color: var(--page-4-color);
}

#featured {
  background-color: var(--page-5-color);
}

#contact {
  background-color: var(--page-6-color);
}

/* ------All Pages Styles------ */
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

/* ------Navbar Section------ */
#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: var(--nav-bg-light);
  z-index: 999;
}

#mainNav .left-nav,
#mainNav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding: 0.5em;
}

#mainNav .left-nav li,
#mainNav .right-nav li {
  margin: 0em 1em;
}

#mainNav .brand-logo {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Vesper Libre", serif;
}

#mainNav .brand-logo span {
  color: var(--primary-color);
  margin: 0.01em;
}

.left-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right-nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* ============= Apply this style only on scroll ================ */
.scrolling-active {
  background-color: red;
}

/* ------The Header/Hero Section------ */
#hero {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/trinh-minh-2.jpg") top center/cover no-repeat;
}

#hero .main-title {
  font-family: "Vesper Libre", serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  max-width: 40%;
  text-align: center;
  padding: 0.5em 0em;
  margin: 5em 0.1em 0em 0.5em;
}

#hero .hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 10%;
  margin-top: 0.5em;
  margin-left: 3em;
}

#hero .hero-cta a {
  font-size: 1rem;
  margin: 0.1em 0.5em;
  padding: 0.5em 1em;
  width: 40%;
  text-align: center;
}

#hero .hero-cta a:hover {
  background-color: var(--secondary-color);
}

.primary-link,
.secondary-link {
  border: none;
  border-radius: 10px;
}

.primary-link {
  background-color: var(--primary-color);
}

.secondary-link {
  border: 1px solid var(--secondary-color);
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 25, 48, 0.1);
}

#hero * {
  z-index: 10;
}

/* ------Hero Section Animation------ */
#hero .main-title {
  -webkit-transform: translateX(-1200px);
          transform: translateX(-1200px);
  -webkit-animation: heading var(--animate-speed) forwards ease-in;
          animation: heading var(--animate-speed) forwards ease-in;
}

#hero .hero-cta {
  visibility: hidden;
  -webkit-animation: hero-cta var(--animate-speed) forwards ease-in 2s;
          animation: hero-cta var(--animate-speed) forwards ease-in 2s;
}

/* ------Keyframes------ */
@-webkit-keyframes heading {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes heading {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hero-cta {
  to {
    visibility: visible;
  }
}

@keyframes hero-cta {
  to {
    visibility: visible;
  }
}

/* ------The About Section------ */
#about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#about .section-head {
  margin-bottom: 0em;
}

#about p {
  text-align: center;
  width: 60%;
  margin-top: 1em;
  font-size: 1.2rem;
}

.section-head + hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 150px;
  margin-top: 0.1em;
  margin-bottom: 2em;
}

.section-head + hr:after {
  background: var(--page-2-color);
  content: url(../images/bag-heart.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/* ------The Product Section------ */
.bags {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.bags .product-section-head {
  margin-bottom: 0em;
  margin-top: 2em;
}

.bags img {
  width: 100%;
  height: 100%;
}

.product-section-head + hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 150px;
  margin-top: 0.1em;
  margin-bottom: 3em;
}

.product-section-head + hr:after {
  background: var(--page-3-color);
  content: url(../images/bag-heart.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  padding: 2em;
  border: 1px solid white;
  border-radius: 25px;
}

.row svg {
  position: absolute;
  top: 80%;
  right: 105%;
  width: 20px;
  fill: var(--page-6-color);
}

.row .product-content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  margin-right: 5em;
  margin-top: 3em;
}

.row .product-content .product-name {
  font-family: "Vesper Libre", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.2em;
}

.row .product-content .product-description {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1em 0.5em;
  padding: 0.2em;
}

.row .product-content .more-info {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  width: 40%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #121117;
  margin: 2em 0.5em;
  padding: 1em;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.row .product-content .more-info:hover {
  background-color: var(--secondary-color);
}

.row .product-image {
  width: 40%;
}

/* ------Product Section Arrow SVG Animation------ */
.row svg {
  -webkit-animation: bounce var(--animate-speed) infinite ease-in;
          animation: bounce var(--animate-speed) infinite ease-in;
}

/* ------Keyframes------ */
@-webkit-keyframes bounce {
  to {
    top: 90%;
  }
}
@keyframes bounce {
  to {
    top: 90%;
  }
}

.bags-flip {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bags-flip img {
  width: 100%;
  height: 100%;
}

.row-flip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  padding: 2em;
  border: 1px solid white;
  border-radius: 25px;
}

.row-flip .product-content-flip {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-left: 5em;
  margin-top: 3em;
}

.row-flip .product-content-flip .product-name-flip {
  font-family: "Vesper Libre", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.2em;
}

.row-flip .product-content-flip .product-description-flip {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 1em 0.5em;
  padding: 0.2em;
}

.row-flip .product-content-flip .more-info-flip {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #121117;
  color: var(--page-6-color);
  margin: 2em 0.5em;
  padding: 1em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.row-flip .product-content-flip .more-info-flip:hover {
  background-color: var(--secondary-color);
  color: var(--page-2-color);
}

.row-flip .product-image-flip {
  width: 40%;
}

.row-flip svg {
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 80%;
  left: 105%;
  width: 20px;
  fill: var(--page-6-color);
}

/* ------Product Flipped Section Arrow SVG Animation------ */
.row-flip svg {
  -webkit-animation: bounce-flip var(--animate-speed) infinite ease-in;
          animation: bounce-flip var(--animate-speed) infinite ease-in;
}

/* ------Keyframes------ */
@-webkit-keyframes bounce-flip {
  to {
    bottom: 90%;
  }
}
@keyframes bounce-flip {
  to {
    bottom: 90%;
  }
}

/*-------The Featured Section-----------*/
#featured {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 2em;
  gap: 4em;
}

#featured .section-head {
  margin-top: 3em;
  margin-bottom: -2em;
  text-align: center;
  font-family: "Vesper Libre", serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
}

#featured .row-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1em;
  height: 80%;
}

#featured .row-featured .featured-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#featured .row-featured .featured-product .featured-image {
  height: 80%;
}

.featured-product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-product-content .product-name {
  font-family: "Vesper Libre", serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.2em;
  margin-top: 1.2em;
}

.featured-product-content .more-info {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid var(--page-2-color);
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 0.2em;
  padding: 0.5em 1em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.featured-product-content .more-info:hover {
  background-color: var(--page-2-color);
  color: #fff;
  border: none;
}

#featured img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*-------The Contact Section-----------*/
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 3em;
}

#contact .column-1,
#contact .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .column-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4em;
  margin-right: 1em;
  padding: 2em;
  width: 40%;
}

#contact .column-1 h3 {
  font-family: "Vesper Libre", serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}

.chat-svg svg {
  width: 50%;
  height: 50%;
  margin-left: 5em;
  fill: var(--secondary-color);
}

#contact .column-2 {
  width: 60%;
  height: 90%;
  padding: 2em;
  margin: 5em 1em .5em 1em;
  /*-------The Form Footer(Social Media Links-----------*/
}

#contact .column-2 p {
  font-family: "Vesper Libre", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0em 0em 1em 0em;
}

#contact .column-2 form {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}

#contact .column-2 form label {
  font-size: 1rem;
}

#contact .column-2 form input,
#contact .column-2 form textarea {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px var(--page-1-color);
          box-shadow: 5px 5px 10px var(--page-1-color);
}

#contact .column-2 form input {
  height: 15%;
  width: 100%;
}

#contact .column-2 form textarea {
  height: 50%;
  width: 100%;
}

#contact .column-2 textarea::-webkit-resizer {
  display: none;
}

#contact .column-2 .form-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .column-2 .form-footer ul li {
  padding: 0.2em;
  margin: 2.5em .5em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

#contact .column-2 .form-footer ul .form-footer-link-1 {
  color: #bc2a8d;
}

#contact .column-2 .form-footer ul .form-footer-link-2 {
  color: #3b5998;
}

#contact .column-2 .form-footer ul .form-footer-link-3 {
  color: #00acee;
}

.column-2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-2 form input {
  margin: 0.3em 0em 1em 0em;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 70%;
}

.form-btn {
  width: 10%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

.form-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 50px;
  padding: 0.2em;
  margin-top: 1.2em;
  width: 20%;
  -webkit-box-shadow: 5px 5px 10px var(--page-1-color);
          box-shadow: 5px 5px 10px var(--page-1-color);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--page-5-color);
  color: #fff;
}

form > label + i {
  color: var(--secondary-color);
  position: absolute;
  top: 32px;
  left: 0;
  padding: 0em 0.5em;
}

/*--------------MEDIA QUERIES----------------------*/
/* ============= Large Devices ================ */
@media (min-width: 1024px) {
  #hero .main-title {
    font-size: 3rem;
    text-align: center;
    margin: 4em 0.1em 0em 1em;
  }
  #hero .hero-cta {
    left: 0.5%;
  }
  #hero .hero-cta a {
    font-size: 1.2rem;
  }
  #about {
    padding: 2em;
  }
  #about .section-head {
    font-size: 2.5rem;
  }
  #about p {
    width: 70%;
    font-size: 1.2rem;
  }
  .bags .product-section-head {
    font-size: 2.5rem;
  }
  .row {
    height: 70%;
  }
  .row .product-content {
    width: 60%;
  }
  .row .product-image {
    width: 70%;
  }
  .row-flip .product-content-flip {
    width: 60%;
  }
  .row-flip .product-image-flip {
    width: 70%;
  }
}

/* ============= Medium Devices ================ */
@media (min-width: 634px) and (max-width: 1024px) {
  #hero .main-title {
    font-size: 2.5rem;
    text-align: left;
    padding: 0.5em 0em;
    margin: 4em 0.1em 0em 2em;
  }
  #hero .hero-cta {
    position: absolute;
    top: 82%;
    left: 1%;
    width: 40%;
    height: 10%;
  }
  #hero .hero-cta a {
    font-size: 1rem;
    width: 40%;
    text-align: center;
  }
  #hero .secondary-link {
    border: none;
    background-color: var(--secondary-color);
  }
  #hero .secondary-link:hover {
    border: 1px solid var(--secondary-color);
    background-color: none;
  }
  #about {
    padding: 1.2em;
  }
  #about .section-head {
    margin-top: 1.2em;
    font-size: 2rem;
  }
  #about p {
    width: 75%;
    font-weight: 100;
    font-size: 1rem;
  }
  .bags .product-section-head {
    font-size: 2rem;
  }
  .row {
    width: 90%;
    height: 70%;
  }
  .row svg {
    right: 102%;
    width: 15px;
  }
  .row .product-content {
    width: 60%;
    margin-right: 2em;
  }
  .row .product-content .product-name {
    font-size: 1.5rem;
    margin: 0em 0.2em;
  }
  .row .product-content .product-description {
    font-size: 1rem;
    margin-bottom: 0em;
  }
  .row .product-content .more-info {
    font-size: .8rem;
    width: 60%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 1.2em 0.5em;
  }
  .row .product-image {
    width: 80%;
    height: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .row-flip {
    width: 90%;
    height: 70%;
  }
  .row-flip svg {
    left: 102%;
    width: 15px;
  }
  .row-flip .product-content-flip {
    width: 60%;
    margin-left: 2em;
  }
  .row-flip .product-content-flip .product-name-flip {
    font-size: 1.5rem;
    margin: 0em 0.2em;
  }
  .row-flip .product-content-flip .product-description-flip {
    font-size: 1rem;
    margin-bottom: 0em;
  }
  .row-flip .product-content-flip .more-info-flip {
    font-size: .8rem;
    width: 60%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 1.2em 0.5em;
  }
  .row-flip .product-image-flip {
    width: 80%;
    height: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #featured .section-head {
    font-size: 1.5rem;
    margin-top: 5em;
  }
  #featured .row-featured {
    margin-top: -3em;
  }
  #featured .row-featured .featured-product .featured-image {
    height: 55%;
    margin: 0em 1.2em;
  }
  #contact {
    padding: 1.5em;
  }
  #contact .column-1 {
    margin-left: 1em;
    padding: 1em;
    width: 30%;
  }
  #contact .column-1 h3 {
    font-size: 1rem;
    margin-bottom: 1em;
  }
  .chat-svg svg {
    margin-left: 25%;
  }
  #contact .column-2 {
    margin: 1em 1em .5em 1em;
  }
  #contact .column-2 form label {
    margin-bottom: .2em;
  }
  #contact .column-2 form .form-btn {
    width: 30%;
  }
  #contact .column-2 .form-footer ul li {
    margin: 2em .2em;
  }
}

/* ============= Smaller Devices ================ */
@media (max-width: 633px) {
  #mainNav .left-nav li,
  #mainNav .right-nav li {
    margin: 0em .8em;
    font-size: .8rem;
  }
  #mainNav .brand-logo {
    font-size: 2rem;
  }
  .left-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .right-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #hero .main-title {
    font-size: 2rem;
    text-align: center;
    padding: 0.5em 0em;
    margin: -3em 0.1em 0em 0.5em;
  }
  #hero .hero-cta {
    position: absolute;
    top: 85%;
    width: 80%;
    height: 10%;
  }
  #hero .secondary-link {
    border: none;
    background-color: var(--secondary-color);
  }
  #hero .secondary-link:hover {
    border: 1px solid var(--secondary-color);
    background-color: none;
  }
  #about {
    padding: 1em;
  }
  #about .section-head {
    margin-top: 1.2em;
    margin-bottom: .2em;
    font-size: 1.5rem;
  }
  #about p {
    width: 100%;
    padding: 1em;
    font-weight: 100;
    font-size: 1rem;
  }
  .bags {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .bags .product-section-head {
    margin-bottom: 0.2em;
    font-size: 1.5rem;
  }
  .bags img {
    width: 100%;
    height: 80%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 90%;
    padding: 2em;
    margin-top: -2em;
    border: none;
  }
  .row svg {
    top: 80%;
    right: 95%;
    width: 15px;
  }
  .row .product-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-right: 0em;
    margin-top: -2em;
    border: .1px solid white;
    border-radius: 25px;
    padding: .5em 2em;
  }
  .row .product-content .product-name {
    font-size: 1.2rem;
    margin: .5em 0em;
  }
  .row .product-content .product-description {
    font-size: .8rem;
    margin: 0em 0.5em 0.5em 0.5em;
    padding: 0.2em;
  }
  .row .product-content .more-info {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50px;
    margin: 0.5em 0em 0em 0em;
    padding: 1em;
    font-size: .8rem;
  }
  .row .product-image {
    width: 100%;
    margin-top: 0em;
  }
  .bags-flip {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .bags-flip img {
    width: 100%;
    height: 80%;
  }
  .row-flip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 90%;
    padding: 2em;
    margin-top: 1.5em;
    border: none;
  }
  .row-flip svg {
    bottom: 80%;
    left: 95%;
    width: 15px;
  }
  .row-flip .product-content-flip {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: 0em;
    margin-top: -1em;
    border: .1px solid white;
    border-radius: 25px;
    padding: .5em 2em;
  }
  .row-flip .product-content-flip .product-name-flip {
    font-size: 1.2rem;
    margin: .5em 0em;
  }
  .row-flip .product-content-flip .product-description-flip {
    font-size: .8rem;
    margin: 0em 0.5em 0.5em 0.5em;
    padding: 0.2em;
  }
  .row-flip .product-content-flip .more-info-flip {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50px;
    margin: 0.5em 0em 0em 0em;
    padding: 1em;
    font-size: .8rem;
  }
  .row-flip .product-image-flip {
    width: 100%;
    margin-top: 0em;
  }
  #featured .section-head {
    margin-top: 5em;
    margin-bottom: 0em;
    text-align: center;
    font-size: 1.5rem;
    padding: .8em;
  }
  #featured .row-featured {
    margin-top: -3em;
    padding: .5em;
    gap: 1.5em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #featured .row-featured .featured-product .featured-image {
    height: 40%;
  }
  .featured-product-content .product-name {
    font-size: .8rem;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    padding: 1.5em;
  }
  #contact .column-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .column-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3em 0 .5em 0;
    padding: 0.5em;
    width: 100%;
    border: 1px solid white;
    border-radius: 25px;
  }
  #contact .column-1 h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0em;
  }
  .chat-svg svg {
    display: none;
  }
  #contact .column-2 {
    width: 100%;
    height: 90%;
    margin: -1em 1em 1em 1em;
    /*-------The Form Footer(Social Media Links-----------*/
  }
  #contact .column-2 .form-footer ul li {
    margin: 1em 0.1em;
  }
  .form-btn {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */