/* --------Setting Variables----------- */
:root {
  --page-1-color: #b9c0c8;
  --page-2-color: #121117;
  --page-3-color: #e71930;
  --page-4-color: #47a8ac;
  --page-5-color: #f96c21;
  --page-6-color: #d5d6da;
  --primary-color: #e71930;
  --secondary-color: #f96c21;
  --animate-speed: 1.5s;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Vesper Libre', serif;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden;
  color: #121117;
}

/* -------Page Colors------- */
// #hero {
//   // background-color: var(--page-1-color);
// }
#about {
  background-color: var(--page-2-color);
}
.bags {
  background-color: var(--page-3-color);
}
.bags-flip {
  background-color: var(--page-4-color);
}
#featured {
  background-color: var(--page-5-color);
}
#contact {
  background-color: var(--page-6-color);
}

/* ------All Pages Styles------ */
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/////////////////////////////////////////////
/* ------Navbar Section------ */
/////////////////////////////////////////////
.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: var(--page-1-color);
  // background-color: var(--page-2-color);
  z-index: 999;

  .left-nav,
  .right-nav {
    display: flex;
    width: 40%;
    padding: 0.5em;

    li {
      margin: 0em 1em;
    }
  }

  .brand-logo {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Vesper Libre", serif;

    span {
      color: var(--primary-color);
      margin: 0.01em;
    }
  }
}

.left-nav {
  justify-content: flex-end;
}
.right-nav {
  justify-content: flex-start;
}

/////////////////////////////////////////////
/* ------The Header/Hero Section------ */
/////////////////////////////////////////////
#hero {
  position: relative;
  // align-items: flex-start;
  justify-content: center;
  background: url("../images/trinh-minh-2.jpg") top center/cover no-repeat;

  .main-title {
    font-family: "Vesper Libre", serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    max-width: 40%;
    text-align: center;
    padding: 0.5em 0em;
    margin: 5em 0.1em 0em 0em;
    // border: 1px solid red;
  }

  .hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    margin-top: 0.5em;
    // border: 1px solid blue;

    a {
      font-size: 1.2rem;
      margin: 0.1em 0.5em;
      padding: 0.5em 1em;
      width: 20%;
      text-align: center;
      // border: 1px solid red;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}

.primary-link,
.secondary-link {
  border: none;
  border-radius: 50px;
}

.primary-link {
  background-color: var(--primary-color);
}

.secondary-link {
  border: 1px solid var(--secondary-color);
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(185, 192, 200, 0.6);
  background: rgba(231, 25, 48, 0.1);
}

#hero * {
  z-index: 10;
}

/* ------Hero Section Animation------ */
#hero .main-title {
  transform: translateX(-1200px);
  animation: heading var(--animate-speed) forwards ease-in;
}
#hero .hero-cta {
  visibility: hidden;
  animation: hero-cta var(--animate-speed) forwards ease-in 2s;
}

/* ------Keyframes------ */
@keyframes heading {
  to {
    transform: translateX(0);
  }
}

@keyframes hero-cta {
  to {
    visibility: visible;
  }
}

/////////////////////////////////////////////
/* ------The About Section------ */
/////////////////////////////////////////////
#about {
  align-items: center;
  justify-content: center;
  color: #fff;

  .section-head {
    margin-bottom: 0em;
  }

  p {
    text-align: center;
    width: 60%;
    margin-top: 1em;
    font-size: 1.2rem;
  }
}

.section-head + hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 150px;
  margin-top: 0.1em;
  margin-bottom: 2em;
}

.section-head + hr:after {
  background: var(--page-2-color);
  content: url(../images/bag-heart.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/////////////////////////////////////////////
/* ------The Product Section------ */
/////////////////////////////////////////////
.bags {
  align-items: center;
  // justify-content: center;
  color: #fff;

  .product-section-head {
    margin-bottom: 0em;
    margin-top: 2.5em;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.product-section-head + hr {
  border: none;
  border-top: 3px double #fff;
  color: #fff;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 150px;
  margin-top: 0.1em;
  margin-bottom: 3em;
}

.product-section-head + hr:after {
  background: var(--page-3-color);
  content: url(../images/bag-heart.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 1em 0em;

  svg {
    position: absolute;
    top: 80%;
    right: 100%;
    width: 30px;
    height: 80px;
    fill: var(--page-6-color);
  }

  .product-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-right: 2em;

    .product-name {
      font-family: "Vesper Libre", serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 0.2em;
    }

    .product-description {
      font-size: 1.2rem;
      font-weight: 100;
      margin: 1em 0.5em;
      padding: 0.2em;
    }

    .more-info {
      text-transform: uppercase;
      font-size: 1.2em;
      width: 30%;
      align-self: flex-end;
      text-align: center;
      border-radius: 50px;
      border: none;
      background-color: #121117;
      margin: 2em 0.5em;
      padding: 0.5em;
      transition: all 300ms ease-in;
      // border: 1px solid white;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }

  .product-image {
    width: 40%;
  }
}

/* ------Product Section Arrow SVG Animation------ */
.row svg {
  animation: bounce var(--animate-speed) infinite ease-in;
}

/* ------Keyframes------ */
@keyframes bounce {
  to {
    top: 90%;
  }
}

// Product Row Flipped //
.bags-flip {
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.row-flip {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
  width: 80%;

  .product-content-flip {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 2em;

    .product-name-flip {
      font-family: "Vesper Libre", serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin: 0.2em;
    }

    .product-description-flip {
      font-size: 1.2rem;
      font-weight: 100;
      margin: 1em 0.5em;
      padding: 0.2em;
    }

    .more-info-flip {
      text-transform: uppercase;
      font-size: 1.2em;
      width: 30%;
      align-self: flex-start;
      text-align: center;
      border-radius: 50px;
      border: none;
      background-color: #121117;
      color: var(--page-6-color);
      margin: 2em 0.5em;
      padding: 0.5em;
      transition: all 300ms ease-in-out;
      // border: 1px solid white;

      &:hover {
        background-color: var(--secondary-color);
        color: var(--page-2-color);
      }
    }
  }

  .product-image-flip {
    width: 40%;
  }
}

.row-flip svg {
  position: absolute;
  transform: rotate(180deg);
  bottom: 80%;
  left: 100%;
  width: 30px;
  height: 80px;
  fill: var(--page-6-color);
}

/* ------Product Flipped Section Arrow SVG Animation------ */
.row-flip svg {
  animation: bounce-flip var(--animate-speed) infinite ease-in;
}

/* ------Keyframes------ */
@keyframes bounce-flip {
  to {
    bottom: 90%;
  }
}

/////////////////////////////////////////////
/*-------The Featured Section-----------*/
/////////////////////////////////////////////
#featured {
  align-items: center;
  color: #fff;

  .section-head {
    margin-bottom: 0em;
    margin-top: 2em;
    padding: 0.2em;
    text-align: center;
    width: 50%;
    // border: 1px solid white;
  }
}
.row-featured {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  // margin: 0.2em 0em;
  padding: 1em 5em;

  .featured-product {
    display: flex;
    flex-direction: column;
    align-items: center;

    .featured-image {
      width: 100%;
      height: 50%;
      margin-top: 0.2em;
    }
  }
}

.featured-product-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-name {
    font-family: "Vesper Libre", serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.2em;
  }

  .more-info {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid var(--page-2-color);
    // border-radius: 50px;
    width: 50%;
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 0.2em;
    padding: 0.5em 1em;
    transition: all 300ms ease-in-out;

    &:hover {
      background-color: var(--page-2-color);
      color: #fff;
      border: none;
    }
  }
}

#featured img {
  width: 100%;
  height: 100%;
}

/////////////////////////////////////////////
/*-------The Contact Section-----------*/
/////////////////////////////////////////////
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#contact .column-1,
#contact .column-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

// #contact .column-2 {
//   position: relative;
// }

#contact .column-1 {
  align-items: center;

  h3 {
    font-family: "Vesper Libre", serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 1em;
    margin: 0.5em 2.5em;
  }
}
.chat-svg svg {
  width: 100%;
  height: 150%;
  margin: 0.5em 1em 2em 1em;
  fill: var(--secondary-color);
}

#contact .column-2 {
  //   justify-content: center;
  height: 80%;
  padding: 2em;
  margin: 1.5em 1em;

  p {
    font-family: "Vesper Libre", serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 1.8em 0em 1em 0em;
  }

  form {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    position: relative;

    .icon-2 {
      color: var(--secondary-color);
      position: absolute;
      top: 103px;
      left: 0;
      padding: 0em 0.5em;
    }

    .icon-3 {
      color: var(--secondary-color);
      position: absolute;
      top: 177px;
      left: 0;
      padding: 0em 0.5em;
    }
    .icon-4 {
      color: var(--secondary-color);
      position: absolute;
      top: 248px;
      left: 0;
      padding: 0em 0.5em;
    }
    .icon-5 {
      color: green;
      position: absolute;
      top: 258px;
      left: 0;
      padding: 0em 0.5em;
    }

    label {
      font-size: 1rem;
    }

    input,
    textarea {
      border: none;
      border-radius: 10px;
      box-shadow: 5px 5px 10px var(--page-1-color);
    }
    input {
      height: 15%;
    }
    textarea {
      height: 50%;
    }
  }

  textarea::-webkit-resizer {
    display: none;
  }
  /*-------The Form Footer(Social Media Links-----------*/
  .form-footer {
    width: 70%;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        padding: 0.2em;
        margin: 2.5em 0em;
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
      }

      .form-footer-link-1 {
        color: #bc2a8d;
      }
      .form-footer-link-2 {
        color: #3b5998;
      }
      .form-footer-link-3 {
        color: #00acee;
      }
    }
  }
}

.column-2 form {
  display: flex;
  flex-direction: column;

  input {
    margin: 0.3em 0em 1em 0em;
  }
}

input[type="text"],
input[type="tel"],
textarea {
  width: 70%;
}

.form-btn {
  width: 10%;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  padding: 0.5em;
  color: var(--page-4-color);
}

input::placeholder {
  padding-left: 2.5em;
}
textarea::placeholder {
  padding-left: 0.5em;
}

.form-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 50px;
  padding: 0.2em;
  margin-top: 0.8em;
  width: 20%;
  box-shadow: 5px 5px 10px var(--page-1-color);
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--page-5-color);
    color: #fff;
  }
}

form > label + i {
  color: var(--secondary-color);
  position: absolute;
  top: 32px;
  left: 0;
  padding: 0em 0.5em;
}

/////////////////////////////////////////////
/*-------Media Queries-----------*/
/////////////////////////////////////////////

/*-------1200px to 1400px-----------*/
@media (max-width: 1400px) {
  #hero {
    .main-title {
      font-size: 3.5rem;
      line-height: 1.2;
      max-width: 30%;
      padding: 0.5em 1.2em;
      margin: 5em 0.1em 0em 0em;
    }

    .hero-cta {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 30%;
      height: 10%;

      a {
        font-size: 1rem;
        margin: 0.1em 0.5em;
        padding: 0.5em 1em;
        width: 20%;
        text-align: center;
        border: 1px solid red;
      }
    }
  }

  #product .row .product-content .product-name,
  #product-flip .row-flip .product-content-flip .product-name-flip {
    font-size: 2rem;
  }
  #product .row .product-content .product-description,
  #product-flip .row-flip .product-content-flip .product-description-flip {
    font-size: 1rem;
  }
  #product .row .product-content .more-info,
  #product-flip .row-flip .product-content-flip .more-info-flip {
    font-size: 1rem;
    margin: 1em 0.5em;
  }
  #product .row .product-image,
  #product-flip .row-flip .product-image-flip {
    height: 90%;
  }

  .row svg,
  .row-flip svg {
    width: 30px;
    height: 30px;
  }

  #featured {
    .section-head {
      font-size: 2.5rem;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }

  // #contact .column-2 {
  //   position: relative;
  // }

  #contact .column-1 {
    h3 {
      font-size: 2rem;
    }
  }

  #contact .column-2 {
    p {
      margin: 1.4em 0em 0.8em 0em;
    }

    /*-------The Form Footer(Social Media Links-----------*/
    .form-footer {
      ul {
        li {
          margin: 1.5em 0em;
          font-size: 0.7rem;
        }
      }
    }
  }
}
